/*-- scss:rules --*/

.slide-logo {
  right: 60px;
}

.backgrounds {
  background-repeat: no-repeat;
}

section#title-slide {
  left: 600px !important;
  width: initial !important;
}

/*
secion#moodler-spotlight-project-rotation-schedules-1 div#schedule {
}
*/
